POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
ZFGBB_DATABASE=zfgbb
ZFGBB_USER=zfgbb_user
ZFGBB_USER_PASSWORD=123456
SPRING_DATASOURCE_URL=jdbc:postgresql://zfgbb_postgresql:5432/zfgbb
SPRING_DATASOURCE_USERNAME=zfgbb_user   
SPRING_DATASOURCE_PASSWORD=123456
SPRING_JPA_HIBERNATE_DDL_AUTO=create-drop